{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load tags %}

{% block content %}


<!-- **************** MAIN CONTENT START **************** -->


<!-- =======================
Inner intro START -->
<section class="pt-4">
	<div class="container">
		<div class="row">
      <div class="col-12">
				<div class="border p-4 text-center rounded-3">
					<h1>پست لیست ها</h1>
					<nav class="d-flex justify-content-center" aria-label="breadcrumb">
						<ol class="breadcrumb breadcrumb-dots m-0">
							<li class="breadcrumb-item"><a href="{% url "blog:index" %}"><i class="bi bi-house me-1"></i> خانه</a></li>
							<li class="breadcrumb-item active">پست لیست ها</li>
						</ol>
					</nav>
				</div>
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main content START -->
<section class="position-relative pt-0">
	<div class="container" data-sticky-container>
		<div class="row">
			<!-- Main Post START -->
			
			<div class="col-lg-9">
				
				<!-- Card item START -->
				{% for post in posts %}
					<div class="card mb-4">
						<div class="row" style="margin-bottom: 3%;">
							<div class="col-md-5" style="bottom: 20px;">
								{% if post.image %}
									<img class="rounded-3" src="{{ post.image.url }}" alt="">
								{% else %}
									<img class="rounded-3" src="{% static 'assets/images/blog/4by3/02.jpg' %}" alt="Default Image">
								{% endif %}
							</div>
							<div class="col-md-7 mt-3 mt-md-0">
								<a href="#" class="badge text-bg-info mb-2">
									<i class="fas fa-circle me-2 small fw-bold"></i> {{ post.category }}
								</a>
								<h4>
									<a href="{% url 'blog:post-detail' post.pk %}" class="btn-link   text-reset">
										{{ post.title }}
									</a>
								</h4>
								
								<p>{{ post.content|truncatechars:130 }}</p>
								<p>{{ post.content|truncatewords:20 }} 
									<a href="{% url 'blog:post-detail' post.pk %}">ادامه مطلب...</a>
								</p>

								<!-- نمایش دکمه‌های ویرایش و حذف برای نویسنده پست -->
								{% if request.user.is_authenticated and request.user.profile == post.author %}
									<div class="mt-2">
										<a href="{% url 'blog:update-post' post.pk %}" class="btn btn-sm btn-warning">ویرایش</a>
										<a href="{% url 'blog:delete-post' post.pk %}" class="btn btn-sm btn-danger">حذف</a>
									</div>
								{% endif %}

								<!-- اطلاعات نویسنده -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block mt-2">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/02.jpg' %}" alt="avatar">
												</div>
												<span class="ms-3">با 
													<a href="#" class=" text-reset btn-link">{{ post.author }}</a>
												</span>
											</div>
										</div>
									</li>
									<li class="nav-item">{{ post.created_date|to_jalali }} </li>
								</ul>
							</div>
						</div>
					</div>
				{% endfor %}

				<!-- Card item END -->
				<!-- Pagination START -->
				<nav class="my-5" aria-label="navigation">
				  <ul class="pagination d-inline-block d-md-flex justify-content-center">
				    <li class="page-item disabled">
				      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">قبل</a>
				    </li>
				    <li class="page-item active"><a class="page-link" href="#">1</a></li>
				    <li class="page-item"><a class="page-link" href="#">2</a></li>
				    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
				    <li class="page-item"><a class="page-link" href="#">15</a></li>
				    <li class="page-item">
				      <a class="page-link" href="#">بعد</a>
				    </li>
				  </ul>
				</nav>
				<!-- Pagination END -->
			</div>
			
			<!-- Main Post END -->

			<!-- Sidebar START -->
			<div class="col-lg-3 mt-5 mt-lg-0">
				<div data-sticky data-margin-top="80" data-sticky-for="767">
					<!-- Trending topics widget START -->
					<div>
						<h4 class="mb-3">دسته بندی</h4>
						<!-- Category item -->
						<div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded" style="background-image:url({% static 'assets/images/blog/4by3/01.jpg' %}); background-position: center left; background-size: cover;">
							<div class="bg-dark-overlay-4 p-3">
								<a href="#" class=" btn-link text-white h5">گردشگری</a>
							</div>
						</div>
						<!-- Category item -->
						<div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded" style="background-image:url({% static 'assets/images/blog/4by3/02.jpg' %}); background-position: center left; background-size: cover;">
							<div class="bg-dark-overlay-4 p-3">
								<a href="#" class="  btn-link text-white h5">فناوری اطلاعات</a>
							</div>
						</div>
						<!-- Category item -->
						<div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded" style="background-image:url({% static 'assets/images/blog/4by3/03.jpg' %}); background-position: center left; background-size: cover;">
							<div class="bg-dark-overlay-4 p-3">
								<a href="#" class="  btn-link text-white h5">فرهنگ</a>
							</div>
						</div>
						<!-- Category item -->
						<div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded" style="background-image:url({% static 'assets/images/blog/4by3/04.jpg' %}); background-position: center left; background-size: cover;">
							<div class="bg-dark-overlay-4 p-3">
								<a href="#" class="  btn-link text-white h5">سیاست</a>
							</div>
						</div>
						<!-- Category item -->
						<div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded" style="background-image:url({% static 'assets/images/blog/4by3/05.jpg' %}); background-position: center left; background-size: cover;">
							<div class="bg-dark-overlay-4 p-3">
								<a href="#" class="  btn-link text-white h5">ورزش</a>
							</div>
						</div>
						<!-- View All Category button -->
						<div class="text-center mt-3">
							<a href="#" class="text-body-secondary text-primary-hover"><u>مشاهده همه</u></a>
						</div>
					</div>
					<!-- Trending topics widget END -->

					<div class="row">
						<!-- Recent post widget START -->
						<div class="col-12 col-sm-6 col-lg-12">
							<h4 class="mt-4 mb-3">پربحث ترین ها</h4>
							<!-- Recent post item -->
							<div class="card mb-3">
								<div class="row g-3">
									<div class="col-4">
										<img class="rounded" src="{% static 'assets/images/blog/4by3/thumb/01.jpg' %}" alt="">
									</div>
									<div class="col-8">
										<h6><a href="post-single-2.html" class="btn-link   text-reset">تداوم تنفس هوای ناسالم</a></h6>
										<div class="small mt-1">17 دی، 1400</div>
									</div>
								</div>
							</div>
							<!-- Recent post item -->
							<div class="card mb-3">
								<div class="row g-3">
									<div class="col-4">
										<img class="rounded" src="{% static 'assets/images/blog/4by3/thumb/02.jpg' %}" alt="">
									</div>
									<div class="col-8">
										<h6><a href="post-single-2.html" class="btn-link   text-reset">جدول لیگ در پایان هفته</a></h6>
										<div class="small mt-1">4 آبان، 1400</div>
									</div>
								</div>
							</div>
							<!-- Recent post item -->
							<div class="card mb-3">
								<div class="row g-3">
									<div class="col-4">
										<img class="rounded" src="{% static 'assets/images/blog/4by3/thumb/03.jpg' %}" alt="">
									</div>
									<div class="col-8">
										<h6><a href="post-single-2.html" class="btn-link   text-reset">گشت نامحسوس در بازار ارز</a></h6>
										<div class="small mt-1">30 خرداد، 1400</div>
									</div>
								</div>
							</div>
							<!-- Recent post item -->
							<div class="card mb-3">
								<div class="row g-3">
									<div class="col-4">
										<img class="rounded" src="{% static 'assets/images/blog/4by3/thumb/04.jpg' %}" alt="">
									</div>
									<div class="col-8">
										<h6><a href="post-single-2.html" class="btn-link   text-reset">7 مشکل اولیه استارت آپ ها</a></h6>
										<div class="small mt-1">29 بهمن، 1400</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Recent post widget END -->

						<!-- ADV widget START -->
						<div class="col-12 col-sm-6 col-lg-12 my-4">
							<a href="#" class="d-block card-img-flash">
								<img src="{% static 'assets/images/adv.png' %}" alt="">
							</a>
							<div class="smaller text-end mt-2">تبلیغ در سایت <a href="#" class="text-body-secondary"><u>انتخاب</u></a></div>
						</div>
						<!-- ADV widget END -->
					</div>
				</div>
			</div>
			
			<!-- Sidebar END -->
		</div> <!-- Row end -->
	</div>
</section>



{% endblock content %}